body {
  margin: 0;
  padding: 30;
  border: 0;
  font-size: 100%;
  font-family: "Poppins";
  color: #ffffff;
}

html {
  background: url("images/wallpaper.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  scroll-behavior: smooth;
}

ul#icons li {
  display: inline;
  padding-left: 25px;
}

.showcase {
  margin-top: 30px;
  margin-left: -70px;
}

ul#menu li {
  padding-top: 20px;
  padding-bottom: 20px;
  list-style: none;
}

.sidenav {
  height: 100%;
  width: 180px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #9925A6;
  font-size: 18px;
  box-shadow: 10px 10px 50px black;
}

.sidenav a {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  color: white;
}

ul#menu a:before {
  color: #f1f1f1;
}

ul#menu a:hover {
  color: #f1f1f1;
  border-bottom: 2px solid white;
}

.main {
  font-size: 150%;
  margin-top: 100px;
  margin-left: 380px;
  padding: 0px 10px;
}

h1 {
  font-size: 250%;
  margin-bottom: -10px;
}

img {
  -webkit-filter: drop-shadow(5px 5px 5px black);
  filter: drop-shadow(5px 5px 5px black);
}
