body {
  margin: 0;
  padding: 30;
  border: 0;
  font-size: 100%;
  font-family: "Poppins";
  color: #ffffff;
}

html {
  background: url("images/wallpaper.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  scroll-behavior: smooth;
}

ul#icons li {
  display:inline;
  padding-left: 25px; 
}

ul#menu li {
  list-style-type: none;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #9925A6;
  padding-top: 20px;
}
