<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home | Ujaan Das</title>
  {{ template "header.html" . }}
</head>

<body class={{ template "body_class.html" . }}>
  <main class={{ template "main_class.html" . }}>
    {{ template "sidebar.html" . }}

    <div class="md:mt-10">
      <a href="/posts/about-me/">
        <h1
          class="text-3xl md:text-4xl mb-7 text-blue-900 hover:text-blue-800 hover:underline underline-offset-4 decoration-2 font-bold tracking-tight transition-colors duration-200">
          Hey, I'm Ujaan.
        </h1>
      </a>

      {{ range filterPostsByNotField "tags" "not-post" (sortByDesc "date" .Global.Posts) }}
      <article class="mb-6">
        <a href={{ .Filepath }}>
          <h2
            class="text-2xl font-semibold text-slate-700 hover:text-blue-800 hover:underline underline-offset-4 decoration-2 transition-colors duration-200">
            {{ get .Frontmatter "title" }}
          </h2>
        </a>

        <div class="flex flex-row items-center gap-2 mt-1">
          <p class="text-sm tracking-wide text-gray-500">
            {{ get .Frontmatter "date" }}
          </p>

          {{ range get .Frontmatter "tags" }}
          <span
            class="text-xs text-gray-600 border border-gray-200 rounded-full px-2 py-0.5 hover:border-gray-400 transition-colors duration-200">
            #{{ . }}
          </span>
          {{ end }}
        </div>
        <p class="text-lg text-gray-700 leading-relaxed">{{ .Snippet }}</p>
      </article>
      {{ end }}

    </div>
  </main>

  {{ template "footer.html" . }}
</body>

</html>