<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="“X-UA-Compatible”" content="“ie" ="edge”" />
  <title>{{ site.title }}</title>
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ site.url }}/assets/css/sidebar.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ site.url }}/assets/css/main.css"
  />
  <link
    rel="shortcut icon"
    type="image/png"
    href="{{ site.url }}/assets/images/icon.ico"
  />
</head>
