<div class="profile">
  <img src="/assets/images/pfp.webp" alt="Your Photo" />
  <p>
    I'm a senior year computer engineering student at HKUST with far too much
    time on my hands.
  </p>
  <ul>
    <li>
      <a href="https://www.linkedin.com/in/ujaandas" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
        linkedin
      </a>
    </li>
    <li>
      <a href="https://github.com/ujaandas" target="_blank">
        <i class="fa-brands fa-github"></i>
        github
      </a>
    </li>
    <li>
      <a href="mailto:ujaandas03@gmail.com">
        <i class="fa-solid fa-envelope"></i>
        email
      </a>
    </li>
  </ul>
</div>
