<div class="text-lg space-y-4 mb-6 text-gray-800 dark:text-gray-200">
  <p>I like building stuff when I should probably be studying.</p>
  <p>
    I'm currently a postgraduate student in Computer Science at the University of Warwick.
    I'm writing my dissertation on the applicability of formal verification methods to LLM outputs.
  </p>
  <p>I'm interested in all things tech, thought I'm most experienced in
    backend/systems programming and self-hosting.</p>
  <p>I also really like Nix!</p>
</div>

<nav class="flex flex-wrap items-center align-middle gap-4 mb-8 md:hidden">
  <a href="https://github.com/ujaandas" class="flex items-center gap-2 hover:underline">
    <i class="fab fa-github"></i>
    <p class="text-base">GitHub</p>
  </a>
  <a href="https://linkedin.com/in/ujaandas" class="flex items-center gap-2 hover:underline">
    <i class="fab fa-linkedin"></i>
    <p class="text-base">LinkedIn</p>
  </a>
  <a href="https://instagram.com/ujaa_das" class="flex items-center gap-2 hover:underline">
    <i class="fab fa-instagram"></i>
    <p class="text-base">Instagram</p>
  </a>
  <a href="static/resume.pdf" class="flex items-center gap-2 hover:underline">
    <i class="fas fa-file-alt"></i>
    <p class="text-base">Resume</p>
  </a>
  <a href="mailto:you@example.com" class="flex items-center gap-2 hover:underline">
    <i class="fas fa-envelope"></i>
    <p class="text-base">Email</p>
  </a>
</nav>