<nav class="flex md:hidden flex-wrap items-center align-middle gap-4 mb-8">
    <a href="https://github.com/ujaandas" target="_blank"
        class="flex items-center gap-2 hover:underline underline-offset-4 decoration-2 hover:text-blue-700 transition-colors duration-200">
        <i class="fab fa-github text-lg"></i>
        <p class="text-lg">GitHub</p>
    </a>
    <a href="https://linkedin.com/in/ujaandas" target="_blank"
        class="flex items-center gap-2 hover:underline underline-offset-4 decoration-2 hover:text-blue-700 transition-colors duration-200">
        <i class="fab fa-linkedin text-lg"></i>
        <p class="text-lg">LinkedIn</p>
    </a>
    <a href="https://raw.githubusercontent.com/ujaandas/oojresume/refs/heads/main/out/UjaanDasResumeWeb.pdf"
        target="_blank"
        class="flex items-center gap-2 hover:underline underline-offset-4 decoration-2 hover:text-blue-700 transition-colors duration-200">
        <i class="fas fa-file-alt text-lg"></i>
        <p class="text-lg">Resume</p>
    </a>
    <a href="mailto:ujaandas03@gmail.com" target="_blank"
        class="flex items-center gap-2 hover:underline underline-offset-4 decoration-2 hover:text-blue-700 transition-colors duration-200">
        <i class="fas fa-envelope text-lg"></i>
        <p class="text-lg">Email</p>
    </a>
</nav>

<nav class="hidden md:flex md:flex-col md:gap-2.5 text-base text-gray-700">
    <a href="https://github.com/ujaandas" target="_blank"
        class="flex items-center gap-2 hover:underline underline-offset-4 decoration-2 hover:text-blue-700 transition-colors duration-200">
        <i class="fab fa-github text-lg"></i>
        <p class="text-lg">GitHub</p>
    </a>
    <a href="https://linkedin.com/in/ujaandas" target="_blank"
        class="flex items-center gap-2 hover:underline underline-offset-4 decoration-2 hover:text-blue-700 transition-colors duration-200">
        <i class="fab fa-linkedin text-lg"></i>
        <p class="text-lg">LinkedIn</p>
    </a>
    <a href="https://raw.githubusercontent.com/ujaandas/oojresume/refs/heads/main/out/UjaanDasResumeWeb.pdf"
        target="_blank"
        class="flex items-center gap-2 hover:underline underline-offset-4 decoration-2 hover:text-blue-700 transition-colors duration-200">
        <i class="fas fa-file-alt text-lg"></i>
        <p class="text-lg">Resume</p>
    </a>
    <a href="mailto:ujaandas03@gmail.com" target="_blank"
        class="flex items-center gap-2 hover:underline underline-offset-4 decoration-2 hover:text-blue-700 transition-colors duration-200">
        <i class="fas fa-envelope text-lg"></i>
        <p class="text-lg">Email</p>
    </a>
</nav>