<div class="flex-shrink-0 hidden md:flex md:flex-col md:items-start md:mt-10 md:mr-10">
    <img src="/static/me.webp" alt="Profile picture" class="w-40 h-auto mb-4" />

    <nav class="hidden md:flex md:flex-col md:gap-2 text-sm">
      <a href="https://github.com/ujaandas" target="_blank" class="flex items-center gap-2 hover:underline">
        <i class="fab fa-github"></i> <p class="text-base">GitHub</p>
      </a>
      <a href="https://linkedin.com/in/ujaandas" target="_blank" class="flex items-center gap-2 hover:underline">
        <i class="fab fa-linkedin"></i> <p class="text-base">LinkedIn</p>
      </a>
      <a href="/static/resume.pdf" target="_blank" class="flex items-center gap-2 hover:underline">
        <i class="fas fa-file-alt"></i> <p class="text-base">Resume</p>
      </a>
      <a href="mailto:ujaandas03@gmail.com" target="_blank" class="flex items-center gap-2 hover:underline">
        <i class="fas fa-envelope"></i> <p class="text-base">Email</p>
      </a>
    </nav>
</div>
