<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ get .Frontmatter "title" }} | Ujaan Das</title>
  {{ template "header.html" . }}
</head>

<body class={{ template "body_class.html" . }}>
  <main class={{ template "main_class.html" . }}>
    {{ template "sidebar.html" . }}

    <div class="md:mt-10 w-full overflow-hidden">
      <h1 class="text-3xl md:text-4xl font-bold tracking-tight mb-2">{{ get .Frontmatter "title" }}</h1>
      <p class="text-sm tracking-wide text-gray-500 mb-4">{{ get .Frontmatter "date" }}</p>
      <article class="article">
        {{ .Content }}
      </article>
    </div>
  </main>

  {{ template "footer.html" . }}
</body>

</html>