<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ .Frontmatter.Title }} | Ujaan Das</title>
  {{ template "header.html" . }}
</head>

<body
  class="flex flex-col items-center justify-center align-middle min-h-screen text-gray-800 dark:text-gray-200 font-serif antialiased">
  <main class="flex flex-col md:flex-row md:items-start justify-between max-w-3xl mx-auto flex-grow p-6 gap-6">
    {{ template "sidebar.html" . }}

    <div class="md:mt-10 w-full overflow-hidden">
      <h1 class="text-3xl md:text-4xl font-bold mb-5 tracking-tight">{{ .Frontmatter.Title }}</h1>
      <article class="article">
        {{ .Content }}
      </article>
    </div>
  </main>

  {{ template "footer.html" . }}
</body>

</html>