<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>{{ .Title }} | Ujaan Das</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
  <link href="../static/styles.css" rel="stylesheet" />
  <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
</head>

<body class="flex flex-col items-center justify-center align-middle min-h-screen bg-slate-100 text-gray-800">
  <main class="flex flex-col md:flex-row md:items-start justify-between max-w-3xl mx-auto flex-grow p-6 gap-6">
    
    <div class="flex-shrink-0 hidden md:flex md:flex-col md:items-start md:mt-10 md:mr-10">
      <img src="../static/pfp.webp" alt="Profile picture" class="w-40 h-auto mb-4" />
      <nav class="hidden md:flex md:flex-col md:gap-2 text-sm">
        <a href="https://github.com/ujaandas" target="_blank" class="flex items-center gap-2 hover:underline">
          <i class="fab fa-github"></i> GitHub
        </a>
        <a href="https://linkedin.com/in/ujaandas" target="_blank" class="flex items-center gap-2 hover:underline">
          <i class="fab fa-linkedin"></i> LinkedIn
        </a>
        <a href="https://instagram.com/ujaa_das" target="_blank" class="flex items-center gap-2 hover:underline">
          <i class="fab fa-instagram"></i> Instagram
        </a>
        <a href="static/resume.pdf" target="_blank" class="flex items-center gap-2 hover:underline">
          <i class="fas fa-file-alt"></i> Resume
        </a>
        <a href="mailto:ujaandas03@gmail.com" target="_blank" class="flex items-center gap-2 hover:underline">
          <i class="fas fa-envelope"></i> Email
        </a>
      </nav>
    </div>

    <div class="md:mt-10 w-full">
      <h1 class="text-3xl font-bold mb-4">{{ .Title }}</h1>
      <article class="article">
          {{ .Content }}
      </article>
    </div>
  </main>

  <footer class="flex flex-col justify-center text-center text-sm text-gray-500 mt-12 mb-4">
    <a href="url" class="mb-1">@2492c87</a>
    <p>© 2025 Ujaan Das</p>
  </footer>
</body>

</html>
