<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="container">
      <aside>{% include sidebar.html %}</aside>
      <main>
        <div class="content">
          <article class="post">
            <h2>{{ page.title }}</h2>
            <!-- <p>Published on: {{ page.date | date: "%Y-%m-%d" }}</p> -->
            <!-- <p>Categories: {{ page.categories | join: ", " }}</p> -->
            {{ content }}
          </article>
        </div>
      </main>
    </div>
  </body>
</html>
